body[data-theme = "lightTheme"] {
    --bg-color: white;
    --bg-color-inverted: black;
    --primary-color: black;
    --primary-color-inverted: white;
    --text-color: black;
    --text-color-inverted: white;
    --border-color: rgba(0, 0, 0, 0.14);
    --hover-color: rgba(0, 0, 0, 0.14)
}

body[data-theme = "darkTheme"] {
    --bg-color: black;
    --bg-color-inverted: white;
    --text-color: white;
    --text-color-inverted: black;
    --primary-color: white;
    --primary-color-inverted: black;
    --border-color: rgba(255, 255, 255, 0.14);
    --hover-color: rgba(255, 255, 255, 0.14);
}
