.SideBarToggle {
  height: var(--side-bar-toggle-height);
  width: var(--side-bar-toggle-width);
  border-radius: 100%;
  position: absolute;
  top: calc(50% - var(--side-bar-toggle-height) / 2);
  right: calc(-1 * var(--side-bar-toggle-width) / 2);
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
  }
}
