.ag-row:hover {
    transition: background-color var(--transition);
    background-color: transparent;
}

.no-border.ag-cell {
    border: none !important;
    outline: none;
}

.no-border.ag-cell:focus {
    border: none !important;
    outline: none;
}
