.card {
  //background-color: var(--bg-color);
  background-size: cover;
  border-radius: var(--border-radius);
  justify-content: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 10px;
  padding: 28px 36px ;
  min-width: 170px;
  max-width: 170px;
  min-height: 93px;
  max-height: 93px;
  user-select: none;
  cursor: pointer;
}

.card {
  &:hover {
    .buttons {
      opacity: 1;
    }
  }
}

.buttons {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  transform: translateX(50%);
  transition: opacity var(--transition);
}

.button {
  height: 15px;
  width: 15px;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 1px var(--border-color) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: background-color var(--transition);
  svg {
    height: 15px;
    width: 15px;
  }
  &:hover {
    background-color: var(--hover-color);
  }
}
