.test {
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 20px; /* Optional: Adds space between grid items */
  overflow: hidden;
}
