$animationTime: 1.5s;
.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 11px;
}

.buttons {
  height: 46px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.button {
  height: 100%;
  width: 46px;
  animation: blink $animationTime ease-in-out infinite;
  border-radius: 5px;
}

.table {
  display: flex;
  flex: 1;
  border-radius: 5px;
  animation: blink $animationTime ease-in-out infinite;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.19);
  }
  100% {
    background-color: white;
  }
}
