.mainContainer {
  display: flex;
  background: rgba(0, 0, 0, 0.19);
  animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

