.mainContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.list {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-gap: 32px 22px;
  position: relative;
  grid-auto-rows: min-content;
  grid-auto-columns: min-content;
  border-radius: var(--border-radius);
  border: 1px var(--border-color) solid;
  height: 135px;
  overflow: hidden;
  transition: 0.3s linear;
  scrollbar-gutter: stable;
}

.openedList {
  height: 628px;
  max-height: 628px;
}

.overflowAuto {
  overflow: auto;
  scrollbar-gutter: stable;
}

.emptyList {
  display: flex;
  height: auto;
}

.todayEntriesAccordion {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 100px;
  svg {
    height: 15px;
    width: 15px;
  }
}

.controlPanel {
  background: none;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  top: 0;
  //transform: translateY(-50%) translateX(50%);
}
