.card {
  border: 1px var(--border-color) solid;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 10px;
  padding: 28px 36px ;
  min-width: 170px;
  max-width: 170px;
  min-height: 93px;
  max-height: 93px;
  user-select: none;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: rotateY(0deg);
    .master,
    .totalCompletedEntries {
      opacity: 1;
      //animation: showContent 0.3s forwards ease-in-out 0.125s;
    }
  }
}
.master {
  position: absolute;
  left: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  top: 0;
  transform: translateY(-50%);
}

.master,
.totalCompletedEntries {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.125s;
}

.iconSize {
  height: 19px !important;
  width: 19px !important;
  min-width: 19px;
}

.name {
  background-color: var(--bg-color);
  border-radius: var(--border-radius-label);
  border: 1px var(--border-color) solid;
  padding: 0 4px;
}

.gold {
  background: linear-gradient(90deg, rgb(188.0000039935112, 166.00000530481339, 135.00000715255737) 0%, rgb(183.5466429591179, 162.211335003376, 131.67661428451538) 6.646796315908432%, rgb(255, 247.9655134677887, 238.00000101327896) 8.248769491910934%, rgb(217.5205135345459, 196.61093473434448, 165.18627136945724) 30.68590760231018%, rgb(171.00000500679016, 143.00000667572021, 118.00000056624413) 34.306690096855164%, rgb(114.74999696016312, 91.09743654727936, 66.45937621593475) 65.91981649398804%, rgb(165.74999392032623, 139.20191287994385, 109.80936527252197) 74.36292171478271%, rgb(183.00000429153442, 154.00000602006912, 122.00000032782555) 91.29670262336731%, rgb(143.00000667572021, 126.00000008940697, 97.00000181794167) 100%);
}

.silver {
  background: linear-gradient(90deg, rgb(179.000004529953, 171.00000500679016, 165.00000536441803) 0%, rgb(176.00000470876694, 169.00000512599945, 163.00000548362732) 6.646796315908432%, rgb(255, 255, 255) 8.248769491910934%, rgb(218.00000220537186, 209.00000274181366, 204.00000303983688) 30.68590760231018%, rgb(158.00000578165054, 150.0000062584877, 144.00000661611557) 34.306690096855164%, rgb(122.00000032782555, 117.00000062584877, 106.00000128149986) 65.91981649398804%, rgb(154.00000602006912, 145.00000655651093, 135.00000715255737) 74.36292171478271%, rgb(163.00000548362732, 155.00000596046448, 144.00000661611557) 91.29670262336731%, rgb(117.00000062584877, 111.00000098347664, 103.0000014603138) 100%);
}

.bronze {
  background: linear-gradient(90deg, rgb(181.0000044107437, 148.000006377697, 125.00000014901161) 0%, rgb(182.00000435113907, 147.00000643730164, 125.00000014901161) 6.646796315908432%, rgb(255, 235.80531477928162, 224.18749898672104) 8.248769491910934%, rgb(240.00000089406967, 202.00000315904617, 178.00000458955765) 30.68590760231018%, rgb(164.00000542402267, 124.00000020861626, 108.00000116229057) 34.306690096855164%, rgb(127.00000002980232, 91.00000217556953, 74.0000031888485) 65.91981649398804%, rgb(172.00000494718552, 131.00000739097595, 109.00000110268593) 74.36292171478271%, rgb(171.00000500679016, 131.00000739097595, 110.00000104308128) 91.29670262336731%, rgb(142.00000673532486, 105.00000134110451, 88.00000235438347) 100%);
}

.totalCompletedEntries {
  background-color: transparent;
  color: #00000059;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
