
body .ag-root-wrapper{
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

body .ag-root-wrapper .ag-header-row{
    background-color: var(--border-color);
    color: var(--text-color);
}

body .ag-root-wrapper .ag-header{
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

body .ag-root-wrapper .ag-row {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
body .ag-root-wrapper .ag-row-hover::before{
    background-color: var(--hover-color) !important;
}

.no-border.ag-cell {
    border: none !important;
    outline: none;
}

.no-border.ag-cell:focus {
    border: none !important;
    outline: none;
}

body .ag-row-selected::before {
    transition: all 0.3s ease-out;
    background-color: rgba(82, 82, 255, 1);
    animation: showSelected 0.3s ease-out forwards;
}
@keyframes showSelected {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 100%;;
    }
}