.Label {
  position: absolute;
  transition: all 0.15s ease-out;
  background-color: var(--bg-color);
  margin-left: 5px;
  left: 0;
  top: 0;
  transform: translateY(50%);
  border-radius: 10px;
  color: var(--hover-color);
  pointer-events: none;
}

.onBorder {
  transform: translateY(-50%) translateX(10px);
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  z-index: 20;
  background-color: var(--bg-color)
}
