.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}


.disabledDay {
  background-color: var(--calendar-day-out-of-range);
}