#calendar-wrapper .rbc-toolbar button {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    transition: all var(--transition);
}

#calendar-wrapper .rbc-toolbar button:hover {
    background-color: var(--hover-color);
    border-color: var(--border-color);
    color: var(--text-color-inverted);
}

#calendar-wrapper .rbc-toolbar button.rbc-active {
    background-color: var(--bg-color-inverted);
    color: var(--text-color-inverted);
}

#calendar-wrapper .rbc-today {
    background-color: var(--calendar-today);
}

#calendar-wrapper .rbc-event {
    background-color: var(--calendar-event-bg);
    color: white;
}

#calendar-wrapper .rbc-event:hover {
    transition: all var(--transition);
    background-color: var(--calendar-event-bg-hover);
    z-index: 999;
}

body .rbc-overlay{
    border: none;
    border-radius: var(--border-radius);
    background: var(--calendar-more-popup-bg);
    padding: 20px;
    max-height: 327px;
    overflow: auto;
}

body .rbc-overlay .rbc-overlay-header{
    background-color: var(--calendar-event-bg);
    text-align: center;
    /*font-size: 12px;*/
    color: white;

    border-radius: var(--border-radius);
    border-bottom: 2px solid var(--border-color);
}

body .rbc-overlay div[type = "popup"]{
    background-color: var(--calendar-event-bg);
    border-radius: var(--border-radius);
    margin-bottom: 5px;
}

body .rbc-overlay div[type = "popup"]:hover {
    transition: all var(--transition) 0.1s;
    background-color: var(--calendar-event-bg-hover);
}

body .rbc-overlay div[type = "popup"]:last-of-type{
    margin-bottom: 0;
}

#calendar-wrapper .rbc-show-more {
    background-color: transparent;
    color: var(--calendar-more);
}

#calendar-wrapper .rbc-show-more:hover {
    transition: all var(--transition);
    color: var(--calendar-more-hover);
}


#calendar-wrapper .rbc-calendar .rbc-off-range-bg {
    background-color: var(--calendar-day-out-of-range);
}

#calendar-wrapper .rbc-month-row .rbc-row-content .rbc-row .rbc-off-range button {
    color: var(--calendar-day-out-of-range-text);
}


#calendar-wrapper .rbc-timeslot-group,
#calendar-wrapper .rbc-time-slot,
#calendar-wrapper .rbc-time-content > * + * > *,
#calendar-wrapper .rbc-day-slot .rbc-time-slot,
#calendar-wrapper .rbc-time-view,
#calendar-wrapper .rbc-time-content,
#calendar-wrapper .rbc-time-header-content,
#calendar-wrapper .rbc-calendar .rbc-month-view,
#calendar-wrapper .rbc-month-row + .rbc-month-row,
#calendar-wrapper .rbc-day-bg + .rbc-day-bg,
#calendar-wrapper .rbc-header,
#calendar-wrapper .rbc-header + .rbc-header{
    border-color: var(--border-color);
}

#calendar-wrapper .rbc-event.rbc-selected {
    position: relative;
}

#calendar-wrapper .rbc-event.rbc-selected::after {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 100%;
    top: 50%;
    right: 2px;
    animation: showAnimation 0.1s linear forwards;
}

@keyframes showAnimation {
    from {
        transform: scale(0) translateY(-50%);
    }
    to {
        transform: scale(1) translateY(-50%);
    }
}

#calendar-wrapper .rbc-event:focus {
    border: 1px solid var(--bg-color-inverted);
    outline: none;
}

#calendar-wrapper .rbc-agenda-view > * ,
#calendar-wrapper .rbc-agenda-view > * > *  *,
#calendar-wrapper .rbc-agenda-view > * > * {
    border-color: var(--border-color) ;
}

#calendar-wrapper .rbc-calendar {
    min-height: 600px ;
}
