.mainContainer {
  position: relative;
}

.list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 20px 12px;
  position: relative;
  border-radius: var(--border-radius);
  border: 1px var(--border-color) solid;
}

.emptyList {
  display: flex;
}

.addEntryContainer {
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 1px var(--border-color) solid;
  right: 0;
  top: 0;
  transform: translateY(-46%) translateX(46%);
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 10;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
  }
}

.addEntryButton {
  height: 10px;
  width: 10px;
}

.listSkeleton {
  background-color: red;
  //animation: blink 1.5s infinite;
}

.testLoading {
  opacity: 0;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.19);
  }
  100% {
    background-color: white;
  }
}
//Z_INDEX
