.homePage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: auto;
}

.PlusIconContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transform: translateX(-50%);

}

.PlusIcon {
  height: 100%;
  width: 100%;
}

.employeesContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    font-size: 10vw
  }
}
