.accordion {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: background-color var(--transition);
  background-color: var(--bg-color);
  &:hover {
    background-color: var(--hover-color);
  }
}

.disabled {
  display: none;
}
