.accordion {
  position: absolute;
  right: 20px;
  top: 0;
  transform: translateY(-46%) translateX(46%);
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 10;
  cursor: pointer;
  transition: background-color var(--transition);
  &:hover {
    background-color: var(--hover-color);
  }
}
