.inputContainer {
  display: flex;
  position: relative;
  cursor: default;
  &:has(.Input:not([value=""])),
  &:focus-within {
    .label {
      transform: translateY(-50%) translateX(10px);
      font-size: 12px;
      padding: 0 5px;
      color: var(--text-color);
      opacity: 1;
      background-color: var(--bg-color);
    }
  }
  &:focus-within {
    .Input {
      border: 1px lightblue solid;
    }
  }
}

.Input {
  outline: none;
  border-radius: 5px;
  border: 1px var(--border-color) solid;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
