.statisticPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}
.containerWithLabel {
  position: relative;
  display: flex;
  height: 100%;
  max-height: 500px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.statisticButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.statisticButton {
  color: var(--text-color);
}
