
.homePage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: auto;
}

.PlusIconContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transform: translateX(-50%);

}

.PlusIcon {
  height: 100%;
  width: 100%;
}

.employeesContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.errorPage {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  scrollbar-gutter: auto;
  span {
    font-size: 10vw
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
  //backdrop-filter: blur(100px);
  position: relative;
  z-index: 2;
}

.homeButton {
  box-shadow: var(--shadow);
}
