.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  cursor: default;
  gap: 20px;
  //min-height: 400px;
  //min-width: 200px;
  background: var(--bg-color);
  padding: 40px;
  border-radius: 5px;
  border: var(--border-color) 1px solid;
}
