.card {
  //background-color: var(--bg-color);
  background-size: cover;
  border-radius: var(--border-radius);
  justify-content: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 10px;
  padding: 28px 36px ;
  min-width: 170px;
  max-width: 170px;
  min-height: 93px;
  max-height: 93px;
  user-select: none;
  cursor: pointer;
}
