.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px var(--border-color) solid;
  background-color: var(--bg-color);
}

.timeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  position: relative;
  flex: 1;
  border-radius: 5px;
  border: 1px var(--border-color) solid;
  background-color: var(--bg-color);
  input {
    &:nth-child(even) {
      padding: 10px 10px 10px 0;
    }
    &:nth-child(odd) {
      padding: 10px 0 10px 10px;
    }
    background: none;
    color: var(--text-color);
    width: max-content;
    border:none;
    outline: none;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}
