.SideBarItem {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: all var(--transition);
  padding: 12px 0 12px 17px;
  & svg {
    transition: all 0.3s linear;
  }
  &:not(.active):hover {
    background-color: var(--hover-color);
    padding-left: 25px;
    transform: scale(1);
  }

  &.collapsed:not(.active):hover {
    background-color: var(--hover-color);
    padding-left: 17px;
    filter: blur(0);

    svg {
      transform: scale(1.2);
    }
  }
  &:not(.active) {
    svg {
      transform: scale(0.7);
    }
  }
}

.title {
  animation: item_text_showed 0.3s ease-in-out;
}

.active {
  position: relative;
  flex-grow: 0.1;
  &::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--bg-color-inverted);
    animation: show 0.5s ease-out forwards;
    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.3;
      }
    }
  }
}

@keyframes item_text_showed {
  from  {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
