.SideBarItem {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  transition:
          background-color 0.3s ease-in-out,
          padding-left 0.3s ease-in-out;
  padding: 12px 0 12px 17px;

  .title {
    animation: item_text_showed 0.3s ease-in-out;
  }

  &:hover {
    background-color: var(--hover-color);
    padding-left: 25px;
  }

  &.collapsed:hover {
    background-color: var(--hover-color);
    padding-left: 17px;

    svg {
      transform: scale(1.2);
    }
  }
}

.active {
  background-color: red;
}

@keyframes item_text_showed {
  from  {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
