.statisticPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.containerWithLabel {
  position: relative;
  display: flex;
  height: 100%;
  max-height: 500px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
